@model CashTicket.Models.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wagon.id_wagon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wagon.id_wagon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_place }) |
    @Html.ActionLink("Back to List", "Index")
</p>
